<h1> <%= @party.name %> </h1>
<h3> <%= @party.date %> </h3>
<p>Budget: $<%= @party.budget %></p>

<% if @party.private %>
    <p><i>Private Party</i></p>
<% else %>
     <p><i>Public Party</i></p>
<% end %>